<!DOCTYPE html>
<html>
    <head>
        <title> Texter!!</title>
    </head>

    {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %} 
    <body>
        <h1>Friar Texter!</h1>
        
        <a href="{% url 'texter:adder' %}">Add a Name</a><br>
        <a href="{% url 'texter:deleter' %}">Delete a Name</a><br>
        <a href = "{% url 'texter:send_screen' %}">Send a Text</a>
    </body>
</html>