<!DOCTYPE html>
<html>
    <head>
        <title>Send a Message</title>
    </head>
    <body>
        <form action = "{% url 'texter:message' %}" method = 'post'>
            {% csrf_token %}
            <h2>Message Sender</h2>
            {% for person in person_list %}
                <li><input type ="checkbox" id = {{person.first_name}} name = {{person.first_name}} value = {{person.number}}>
                    <label for ="person.first_name">{{person}}</label></li><br>
            {% endfor %}

            <label for = 'message'>Message</label>
            <input type = 'text' name = 'message' id = 'message'><br>
            
            <label for = 'link'>Link? If yes, check checkbox and add link to the text box below</label>
            <input type = 'checkbox' id = 'link' name = 'link' value = 'Yes'>
            <input type = 'text' id = 'link_text' name = 'link_text'><br>
            <label for = 'signature'>Signature</label>
            <input type = 'text' name = 'signature' id = 'signature' value = '~mitch~'>
            <input type = 'submit' value = 'text'>

        </form>
    </body>
</html>